.nav_bar {
    margin-top: 60px;
    height: 30px;
    background-color: #e2cb44;
}
.nav_ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0px;
}
.nav_ul > li > a {
    color: white;
}
.nav_ul > li > a:hover {
    text-decoration: none;
    color: tan;
}
.phone_bar h4 {
    font-size: 24px;
    color: white;
}
.phone_bar {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 25px;
}
.phone_bar:hover {
    text-decoration: none;
    color: tomato;
    border-color: tan;
}
.h1 {
    padding: 50px 60px 0px 60px;
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: #80c340;
}
.wraper_link {
    display: flex;
    justify-content: center;
    background: rgb(239, 243, 246);
    padding: 35px 0px;
}
.wraper_link a {
    margin: 0px 15px 0px 15px;
}
.link_menu {
    text-decoration: none;
    color: rgb(112, 112, 112);
    padding: 5px 15px;
    border: 1.5px solid rgb(112, 112, 112);
    border-radius: 25px;
}
.link_menu:hover {
    text-decoration: none;
    color: rgb(112, 112, 112);
    border-color: rgb(161, 3, 95);
}
.food_elem_wrapper {
    color: black;
    display: flex;
    justify-content: center;
    background-color: rgb(239, 243, 246);
    padding: 0px 20px 0 20px;
}
.green {
    color: white !important;
    background-color: #80c340;
    text-decoration: none;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 25px;
}
.green:hover {
    background-color: yellowgreen;
    text-decoration: none;
}
.lng {
    margin: 6px;
}
.lng:hover {
    cursor: pointer;
}
.wrapper_lng {
    background: #0e0e0e;
    border-radius: 25px;
    margin-left: 15px;
}
