* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #3f3f47;
    /* background-position: center;
    background-size: cover; */
}
.App {
    width: 1000px;
    margin: 0 auto;
}
.wrapper {
    background-image: url('img/jpg/background_img2.jpg');
    background-repeat: no-repeat;
    background-position: top;
    /* width: 1000px; */
    margin: 0 auto;
}
.registrtion_info {
    margin-right: 165px;
    color: white;
}
