.sing_up_wrapper {
    background-color: white;
    width: 50%;
    height: 100vh;
}
.form {
    padding: 0px 15px 13px 25px;
}
.form_group input {
    width: 75%;
}
.form-group {
    margin-left: 72px;
}
.submit_btn {
    width: 75%;
}
.icons_wrapper {
    display: flex;
    width: 75%;
    justify-content: space-around;
    padding: 23px 0px 23px 0px;
}
.apple_icon {
    width: 48px;
    height: 48px;
}
.icons_wrapper > a:hover {
    cursor: pointer;
}
.errorMessage {
    color: red;
}
.btn_sign_up {
    margin-left: 72px;
}
.h1_registration_page {
    margin: 0px 170px 0px 170px;
}
